@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

:root {
  --gradient-btn: linear-gradient(to bottom, #fff, red);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  flex-direction: column;
}

/* latin */
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/Sofia.ttf') format('truetype');
}

.font-effect-outline {
  text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  color: #fff;
}

h1,
h2 {
  font-family: 'Sofia';
}

body {
  --sb-track-color: #000;
  --sb-thumb-color: var(--gradient-btn);
  --sb-size: 0.7vmax;
}

/***************************SCROLL***************************/

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

html {
  scrollbar-color: #f3d360 #ffa200;
}